@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');


.road-rage-regular {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    font-size: 100px;
  }

  .rum-raisin-regular {
    font-family: "Rum Raisin", sans-serif;
    font-weight: 800;
    font-style:normal;
    letter-spacing: 2.5px;
    font-size: 30px;
  }

  .risque-regular {
    font-family: "Risque", serif;
    font-weight: 800;
    font-style: normal;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 20px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
html, body {

    overflow-x: hidden;
} */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
    width: 100%;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('..//images/logo whalkins 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.container {
    height:100%;
    width: 100%;
    /* background-color: black; */
}

nav {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 2.5);
    z-index: 2;
    width: 100%;
    /* position: fixed; */
    top: 0;
    font-size: 18px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    text-transform: capitalize;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0 30px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

nav a:hover {
    /* color: #00fbff; */
    color: red;
    font-weight: bold;
}

nav li img {
    width: 100%;
    height: 200%;
    padding-left: 12%;
    margin-top: -18%;
}


nav ul :first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #1515157f;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }
  
  .sidebar li {
    width: 100%;
  }
  
  .sidebar a {
    width: auto;
  }
  .menuButton {
    display: none;
}
@media (max-width:900px) {

    .hides {
        display: none;
    }

    .menuButton {
        display: block;
    }
}
@media (max-width: 510px) {

    nav img{
        width: 10%;
        height: 10%;
    }
    #phases{
        width: 100%;
    }
}

.toptitles #maintitle{
    color: white;
    text-align: center;
    margin-top: 3rem;
    /* font-size: 4rem; */
    
}

.imageintop{
    position: absolute;
    top: 10%;
    left: 50px;
    z-index: -1;
}

.imageatend1{
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: -1;
}
.imageatend2{
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: -1;
}

.toptitles #submain{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.midbody{
    /* background-color: yellow; */
    height: 9rem;
    width: 100%;
    margin-top: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.midbody div{
    margin-right: 2rem;
    font-size: 2rem;
}

.lowerbody{
    /* background-color: green; */
    height: 6rem;
    width: 100%;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lowerbody .mainbuttons{
    background-color: red;
    color: white;
    font-size: 1.3rem;
    height: 3.7rem;
    width: 11rem;
    border-radius: 5%;
    border: none;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
}

.Date{
    /* background-color: purple; */
    height: 7rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
}

@media (max-width:850px) {

    .imageintop{

    height: 40%;
    width: 20%;

    margin-top: 5%;

    }

    .imageatend1{
        height: 40%;
        width: 20%;
    }

    .imageatend2{
        height: 30%;
        width: 20%;
    }

}


@media (max-width:800px) {
    .midbody div{

        /* width: 50%; */
        font-size: 30px;
    }
}

@media (max-width:800px) {
    .imageintop{
        display: none;
    }

}


@media (max-width:550px) {

    .Date{
        font-size: 20px;
    }

}
@media (max-width:500px) {


    .midbody div{
        font-size: 25px;
        font-weight: 800;

    }
    .midbody{
        margin-left: 5%;
        margin-top: 1.5%;
    }

    .toptitles #maintitle{
        margin-top: 2.5%;
        font-size: 70px;
        
    }

    .toptitles #submain{
        font-size: 30px;
        padding-bottom: 0px;
    }


    .lowerbody{
        /* background-color: green; */
        height: 10%;
        width: 100%;
        margin-top: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .lowerbody .mainbuttons{
        background-color: red;
        color: white;
        font-size: 1.3rem;
        height: 60%;
        width: 40%;
        border-radius: 5%;
        border: none;
        text-align: center;
        margin-right: 1rem;
        cursor: pointer;
    }


    .imageatend1{
        height: 30%;
        width: 30%;
    }

    .imageatend2{
        height: 20%;
        width: 30%;
    }
    

}

@media (max-width:440px){
    .Date{
        font-size: 16px;
    }

}
@media (max-width:410px){

    .midbody div{
        font-size: 20px;
    }




}

